{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "prettier",
    "airbnb",
    "airbnb/hooks",
    "prettier/react",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "ignorePatterns": [
    "dist/",
    "node_modules/"
  ],
  "rules": {
    "prettier/prettier": [
      0,
      {
        "endOfLine": "auto"
      }
    ],
    "react/jsx-filename-extension": [
      0,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ],
    // "prettier/prettier": 0,
    "no-use-before-define": 0,
    "@typescript-eslint/no-var-requires": 0,
    // "react/jsx-filename-extension": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      },
      "alias": {
        "map": [
          [
            "@",
            "./src"
          ],
          [
            "@components",
            "./src/components"
          ],
          [
            "@atoms",
            "./src/components/atoms"
          ],
          [
            "@molecules",
            "./src/components/molecules"
          ],
          [
            "@themes",
            "./src/components/organisms"
          ],
          [
            "@pages",
            "./src/components/pages"
          ]
        ]
      }
    }
  }
}
